*{margin:0;padding:0;box-sizing:border-box;}


body{
    background-color: hsl(150, 60%, 70%);
    
}

main{
    height: 100vh;
    
    display: grid;
    gap: 1rem ;
    grid-template-columns:repeat(3,10rem) ;
    grid-template-rows: repeat(5,10rem) ;
    justify-content: center;
    align-content: center;
    background-color:rgb(180, 22, 22);
}
.box{
    width: 100%;
    height: 100%;
    background: linear-gradient(#2d4460,#000000);
    box-shadow: 0 0 10px 2px #000;
}
.box :first-child{
    grid-column: 1/3;
    grid-row: 1/2;
}
.box:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/4;
}
.box:nth-child(3){
    grid-column: 1/3;
    grid-column: 2/4;
}